$primary: #962f34;
$primary-dark: #43281c;
$secondary: #fb4b4e;
$primary-icon-hover: #fb4b4e;
$paragraph-textcolor: #404e5c;
$border-color: #cfcfcf;
$white: #fff;
$black: #2f2d2e;
$blue: #962f34;
$testimonial-color: #dce0d9;
